<div class="tab-pane fade active in" id="home">
  <br />
  <div class="form-group row">
    <label class="col-xs-2 col-sm-2 col-form-label">Project</label>
    <div class="col-sm-4">
      <input class="form-control" type="text" Placeholder="Project" name="pDescription" [(ngModel)]='pDescription' />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-4 chk-width">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Set Start and End Date</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class='input-group date' id='datetimepicker2'>
        <input type='date' class="form-control" Placeholder="Start Date" name="stDt" [(ngModel)]='stDt' />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="col-sm-3">
      <div class='input-group date' id='datetimepicker2'>
        <input type='date' class="form-control" Placeholder="End Date" name="endDt" [(ngModel)]='endDt' />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Priority :</label>
    <div class="col-sm-4">
      <input type="range" class="form-control-range" id="formControlRange" min="0" max="30" name="priority" [(ngModel)]='priority'>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Manager :</label>
    <div class="col-sm-3">
      <div class="inner-addon right-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control" list="NonMgr" placeholder="Manager" name="employeeId" [(ngModel)]='employeeId' />
      </div>
    </div>
    <div>
      <datalist id="NonMgr">
        <option *ngFor='let mgr of listUsers' [value]='mgr.User_ID'>{{mgr.FirstName}} {{mgr.LastName}}</option>
      </datalist>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary btn-md" (click)='createProject()'>Add</button>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-secondary btn-md">Reset</button>
    </div>
  </div>
  <div *ngFor='let project of listProjects'>
    <div class="bottom-line-dotted"></div>
    <div class="clr"></div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Project :</label>
      <label class="col-form-label col-sm-4">{{project.ProjectDesc}}</label>
      <label class="col-form-label col-sm-2">Priority :</label>
      <label class="col-form-label col-sm-2">{{project.Priority}}</label>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2">No of Tasks :</label>
      <label class="col-form-label col-sm-2">{{project.TaskNos}}</label>
      <label class="col-form-label col-sm-2">Completed :</label>
      <label class="col-form-label col-sm-2">{{project.Status}}</label>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2">Start Date :</label>
      <label class="col-form-label col-sm-2">{{project.StartDate}}</label>
      <label class="col-form-label col-sm-2">End Date :</label>
      <label class="col-form-label col-sm-2">{{project.EndDate}}</label>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-primary btn-width">Suspend</button>
      </div>
    </div>
    <div class="bottom-line-dotted"></div>
    <div class="clr"></div>
  </div>
</div>