.the-legend {
    border-style: none;
border-width: 0;
font-weight: bold;
width: auto;
padding: 0 10px;

}
.right-float{
float:right;
}
.the-fieldset {
border: 2px solid #ddd;
padding: 10px;
}
.clr{
clear: both;
margin-top: 10px;
}
.ProductName{
color:#337ab7;
}
.chk-width{
width:18%;
}
/* enable absolute positioning */
.inner-addon {
position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.btn-width{margin-left: 15px;}
.fade{
    opacity: 1 !important;
}
.bottom-line{
    border-top:2px solid #ddd;
    }
.bottom-line-dotted{
    border-top:2px dotted #ddd;
    }

/*---------------------------------media quries for all Mobile------------*/

@media only screen and (min-device-width : 320px) and (max-device-width : 560px)

{
    .chk-width{
        width: 100%;
    }
   .clr-div{
    clear: both;
    margin-top: 12px;
   }
   .clr-margin-top{
    margin-top: 12px;
   }
   .row-font-size{
       font-size: 12px;
       font-weight: normal;
   }

   .width-content{
       width: fit-content;
   }
   .project-mob-width{
       margin-left: -21px;
   }
   .project-mob-enddate-width{
    margin-left: -15px;
}

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
    .chk-width {
        width: 20%;
    }
    .txt-date-margin{
        margin-left: 96px;
    }
}