<div class="tab-pane fade" id="settings">
        <div class="clr"></div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Project :</label>
          <div class="col-sm-4">
            <div class="inner-addon right-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control" placeholder="Project" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Sort Task By</label>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary">Start Date</button>
            <button type="button" class="btn btn-primary btn-width">End Date</button>
            <button type="button" class="btn btn-primary btn-width">Priority</button>
            <button type="button" class="btn btn-primary btn-width">Completed</button>
          </div>
        </div>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Task
                <i class="glyphicon glyphicon-chevron-down right-float"></i>
              </th>
              <th class="th-sm">Parent
                <i class="glyphicon glyphicon-chevron-down right-float"></i>
              </th>
              <th class="th-sm">Priority
                <i class="glyphicon glyphicon-chevron-down right-float"></i>
              </th>
              <th class="th-sm">Start
                <i class="glyphicon glyphicon-chevron-down right-float"></i>
              </th>
              <th class="th-sm">End
                <i class="glyphicon glyphicon-chevron-down right-float"></i>
              </th>
              <th class="th-sm"><a href="#">Edit</a>
              </th>
              <th class="th-sm"><a href="#">End Task</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ProductName">Task 1</td>
              <td>Parent Tast 1</td>
              <td>10</td>
              <td>20/10/2018</td>
              <td>21/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
            <tr>
              <td class="ProductName">Task 2</td>
              <td>Parent Tast 2</td>
              <td>102</td>
              <td>23/10/2018</td>
              <td>24/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
            <tr>
              <td class="ProductName">Task 1</td>
              <td>Parent Tast 1</td>
              <td>10</td>
              <td>20/10/2018</td>
              <td>21/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
            <tr>
              <td class="ProductName">Task 1</td>
              <td>Parent Tast 1</td>
              <td>10</td>
              <td>20/10/2018</td>
              <td>21/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
            <tr>
              <td class="ProductName">Task 1</td>
              <td>Parent Tast 1</td>
              <td>10</td>
              <td>20/10/2018</td>
              <td>21/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
            <tr>
              <td class="ProductName">Task 1</td>
              <td>Parent Tast 1</td>
              <td>10</td>
              <td>20/10/2018</td>
              <td>21/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
            <tr>
              <td class="ProductName">Task 1</td>
              <td>Parent Tast 1</td>
              <td>10</td>
              <td>20/10/2018</td>
              <td>21/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
            <tr>
              <td class="ProductName">Task 1</td>
              <td>Parent Tast 1</td>
              <td>10</td>
              <td>20/10/2018</td>
              <td>21/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
            <tr>
              <td class="ProductName">Task 1</td>
              <td>Parent Tast 1</td>
              <td>10</td>
              <td>20/10/2018</td>
              <td>21/10/2018</td>
              <td><a href="#">Edit</a></td>
              <td><a href="#">End Task</a></td>
            </tr>
          </tbody>
        </table>
        <div class="clr"></div>
        <div class="form-group row">
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-lg">Add Product</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-lg btn-primary" disabled>Delete Products</button>
          </div>
        </div>
        <div class="clr"></div>
      </div>