<div class="tab-pane" id="settings">
        <div class="clr"></div>
        <div class="form-group row">
          <label class="col-xs-12 col-sm-2 col-form-label">Project :</label>
          <div class="col-xs-12 col-sm-4">
            <div class="inner-addon right-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control" placeholder="Project" 
              name="searchProjectText" [(ngModel)]='searchProjectText' />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xs-12 col-sm-2 col-form-label">Sort Task By</label>
          <div class="col-xs-12 col-sm-6">
            <button type="button" class="btn btn-xs  btn-sm btn-md btn-primary" (click)="PerformFilterByDate('StartDate')">Start Date</button>
            <button type="button" class="btn btn-xs  btn-sm btn-md btn-primary btn-width" (click)="PerformFilterByDate('EndDate')">End Date</button>
            <button type="button" class="btn btn-xs  btn-sm btn-md btn-primary btn-width" (click)="PerformFilterByDate('Priority')">Priority</button>
            <button type="button" class="btn btn-xs  btn-sm btn-md btn-primary btn-width" (click)="PerformFilterByDate('StartDate')">Completed</button>
          </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12">
              <div class="table-responsive">

              
        <table id="dtBasicExample" class="table" 
        *ngIf='listFilteredProjctTask && listFilteredProjctTask.length'>
          <thead>
            <tr>
              <th>Task
              </th>
              <th>Parent
              </th>
              <th>Priority
              </th>
              <th>Start
              </th>
              <th>End
              </th>
              <th>
              </th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let task of listFilteredProjctTask | orderBy:key:reverse">
            <tr>
              <td>{{task.TaskName}}</td>
              <td>{{task.ParentTask}}</td>
              <td>{{task.Priority}}</td>
              <td>{{task.StartDate}}</td>
              <td>{{task.EndDate}}</td>
              <td><button type="button" class="btn btn-xs btn-sm btn-md btn-primary">Edit</button></td>
              <td><button type="button" class="btn btn-xs btn-sm btn-md btn-primary">End Task</button></td>
            </tr>
          </tbody>
        </table>
      </div>
            </div>
      </div>
        <div class="clr"></div>
      </div>